.linha{
  display: flex;
  margin-top: 40px;
  justify-content: space-around;
}
h1{
  text-align: center;
  color: beige;
}
.aplicativo {
  margin: auto;
  max-width: 900px;
  
}

.App{
  background-image: url(./img/money.jpg);
}

.brToeua{
  background-image: url(./img/brToeua.png);
  background-repeat: no-repeat;
  background-size: 400px 250px;
}

.euaTobr{
  background-image: url(./img/euaTobr.png);
  background-repeat: no-repeat;
  background-size: 400px 250px;
}

.cadTobr{
  background-image: url(./img/cadTobr.png);
  background-repeat: no-repeat;
  background-size: 400px 250px;
}

.brTocad{
  background-image: url(./img/brTocad.png);
  background-repeat: no-repeat;
  background-size: 400px 250px;
}

.eurTobr{
  background-image: url(./img/eurTobr.png);
  background-repeat: no-repeat;
  background-size: 400px 250px;
}

.brToeur{
  background-image: url(./img/brToeur.png);
  background-repeat: no-repeat;
  background-size: 400px 250px;
}